@media (max-width: 600px) {
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vw 5vw;
        height: 15vh;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        background: #FAFAFA;
    }
    .logo img{
        width: 50%;
        cursor: pointer;
       margin-left: 23vw;
    }
    .logo img:hover{
        transform: scale(1.1);
    }
    .sign-btn{
       display: none;
    }
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .left{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: auto;
       border-right: none;
       width: auto;
       margin-top: 5vw;
       overflow-x: hidden;
    }
    .right{
       width: auto;
        height: auto; 
        margin-top: 3vw;
    }
    .img{
        display: flex;
        justify-content: center;
    }
    .img img{
        width: 70%;
    }
    .heading-1 h5{
        font-size: 7vw;
        letter-spacing: 1px;
        font-weight: 999;
    }
    .para{
        display: flex;
        height: auto;
        width: auto;
        overflow-x: hidden;
    }
    .para p{
        color: rgba(0, 0, 0, 0.555); font-weight: 499; font-size: 5vw; line-height: 8vw; margin-top: 1vw;
        overflow-x: hidden;
    }
    .start{
        display: flex;
        gap: 2vw;
        margin-top: 8vw;
    }
    .getstart a{
        padding: 2vw 3vw;
        font-size: 5vw;
    }
    .features a{
        padding: 2vw 3vw;
        font-size: 5vw;
    }
    .footer {
        margin-top: 20vw;
    }
    .modelheading01{
        color: hsl(35, 100%, 55%); font-weight: 699; font-size: 6vw;
    }
    .modelheading02{
        font-size: 6vw; color: rgba(0, 128, 0, 0.7);
    }
}